<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/javascripts/index.js"></script>
  </head>
  <body>

  <div class="container">
    <div class="row">